[submodule "themes/puppet"]
	path = themes/puppet
	url = https://github.com/roninro/hugo-theme-puppet.git
[submodule "hugo-dpsg"]
	path = hugo-dpsg
	url = https://github.com/pfadfinder-konstanz/hugo-dpsg
